.body-user-perfil {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}

.from-perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200;
    border: 2px red solid;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}

.from-perfil h2 {
    
    background: linear-gradient();
    font-weight: 400;
    font-size: 25px;
    color: #090808;
    margin-bottom: 35px;

}
.input-container {
    
    position: relative;
}
.input-container > input {
    
    padding: 17px 15px 17px 65px;
    width: 100%;
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: transparent;
    border: 2px solid #cbcbcb;
    font-size: 16px;
    outline: none;
    color: #1e1e1e;

}

.placeholder {

    color: #a0a0a0;
    font-size: 16px;
    text-align: right;
}

.button{
   
    cursor: pointer;
}  


.btn-editar{
    cursor: pointer;
    background-color: red;
    border: solid 2px groove;
    border-radius: 10px;
    font-weight: 100;
    color: white;
    margin: 20px;
    text-align: center;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;

}

   

