.body_loading{
    background-color: rgb(0, 0, 0);
        inline-size: 100vh; 
        display: block;
        color: white;
        inline-size: 100vw;
        block-size: 100vh;
        display: flex;
        flex-direction: column; /* Cambiado para alinear los elementos en columna */
        text-align: center;
        justify-content: center;
        align-items: center;
        overflow-y:hidden; /* Permitir desplazamiento, pero ocultar la barra */
   
        
    
    }




    .Atleticos_Loading{
        inline-size: 300px;
        padding: 0;
        margin: 0;
        
        
    }
    .cargando {
        margin-block-start: 60px;
        inline-size: 100px;
      
    }

    .img-loading-carga{
       /*   border: red 2px groove;
      border-radius: 100%;*/
      overflow-y:hidden;  
    }