.zapatos-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .zapatos-image {
    width: 200px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .zapatos-info {
    text-align: justify;
  }
  .display-flex-cards{
      display: flex;
      margin: 5px;
   
  }
  .zapatos-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .zapatos-description {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .zapatos-price {
    font-size: 16px;
    font-weight: bold;
    color: #007bff; /* Color azul para el precio */
    margin-bottom: 10px;
  }
  
  .zapatos-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .zapatos-btn:hover {
    background-color: #0056b3; /* Cambia el color al pasar el mouse */
  }
  .dropdown-content{
    margin: 5px;
    padding: 10px;
  }

